@import url("https://use.typekit.net/cmv5yao.css");
body {
  font-family:forma-djr-display;
}
/*----------- INTRO CARD PROPERTIES --------*/

.intro-card-box {
  margin-top:30px;
  width:80%;
  margin:auto;
  display:flex;
  justify-content: space-around;
  align-items:center;
}

.intro-pic {
  width:45%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.pola-picture-box {
  width:100%;
}
.pola-picture-box img {
  width:100%;
}
.intro-text {
  width:35%;
  font-size:1.2rem;
  display:flex;
  flex-wrap:wrap;
}
.intro-text h3 {
  font-size:1.2rem;
  color:lightgray;
  font-weight:300;
  width:100%
}
.intro-text h2 {
  font-size:2rem;
  font-weight:bold;
}
.intro-text p {
  letter-spacing: 0.7px;
}
.intro-name {
  width:50%
}
.intro-name h2 {
  margin:0
}
.intro-desc {
  margin:30px 0
}
.intro-more a {
  color:lightgray;
}
