@import url("https://use.typekit.net/cmv5yao.css");
body {
  font-family:forma-djr-display;
  margin:0;
}

/*------------ HEADER PROPERTIES ---------*/

.bloc{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.bloc video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top:50%;
  left:50%;
  z-index: -100;
  transform: translate(-50%, -50%);
}
.navBar{
  margin: 3%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar a{
  width: 100%;
  color: white;
  text-decoration: none;
}
.logo-pepenome {
  width: 27%;
}
ul{   
  width: 55%;
  font-size: 1.03rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li{
  list-style: none;
}
li a{
  width: 80%;
}



/*----------- INTRO CARD PROPERTIES --------*/

.intro-card-box {
  margin-top:30px;
  width:80%;
  margin:auto;
  display:flex;
  justify-content: space-around;
  align-items:center;
}

.intro-pic {
  width:45%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.pola-picture-box {
  width:100%;
}
.pola-picture-box img {
  width:100%;
}
.intro-text {
  width:35%;
  font-size:1.2rem;
  display:flex;
  flex-wrap:wrap;
}
.intro-text h3 {
  font-size:1.2rem;
  color:lightgray;
  font-weight:300;
  width:100%
}
.intro-text h2 {
  font-size:2rem;
  font-weight:bold;
}
.intro-text p {
  letter-spacing: 0.7px;
}
.intro-name {
  width:50%
}
.intro-name h2 {
  margin:0
}
.intro-desc {
  margin:30px 0
}
.intro-more a {
  color:lightgray;
}

/*--------------- MY PROJECTS - HOMEPAGE PROPERTIES ------------*/

.main-hp-container{
  padding:20px 0 30px 0;
  width: 100%;
  background-color: black;
}
.hp-container{
  margin: 2%;
  color: white;
  text-align: center;
}
.hp-head{
  width: max-content;
  margin: auto;
}
.hp-head h1 {
  border-bottom: 1px solid white;
}
.hp-head p{
  color: lightgray;
  font-size: 1.5rem;
}
.hp-navbar {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hp-navbar a {
  text-decoration:none;
  color:white
}
.nav-hp{
  opacity: 0.6;
  width: 20%;
  margin: auto;
}
.nav-hp:hover{
  transition: all 1s;
  opacity: 1;
}
.hp-grid{
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box-container1{
  margin: 1%;
  position: relative;
  width: 30%;
}
.box-container2{
  position: relative;
  width: 53.5%;
}

.box-container3{
  margin: 0 1%;
  position: relative;
  width: 46.5%;
}

.box-container4{
  position: relative;
  width: 37.2%;
}

.text-over{
  color: white;
  position: absolute;
  background: rgba(0,0,0,0.6);
  top:0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  text-align: center;
  display:flex;
  align-items: center;
  flex-direction:column;
  justify-content:center ;
}
.text-over * {
  margin:0;
}
.text-over h3 {
  font-size:2.5rem;
}
.text-over:hover{
  opacity: 1;
}

.img1{
  display: block;
  width: 100%;
}

.video1{
  display: block;
  width: 100%;
}

.img2{
  display: block;
  opacity: 1;
  width: 100%;
  height: 50%;
}

.img3{
  display: block;
  opacity: 1;
  width: 100%;
  height: 50%;
}


.btn-voirplus{
  width: 90.5%;
  text-align: right;
}
.voirplus{
  cursor: pointer;
  font-size: 1.3rem;
  background-color: black;
  color:lightgray;
  border: none;
  border-bottom:2px solid lightgray;
}

.hp-container-2 {
  margin-bottom:20px
}

/*---------- FOOTER PROPERTIES ----------*/

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-footer__up {
  background-color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__up :nth-child(1) {
  font-size: 2em;
}

.main-footer__up p:nth-child(2) {
  margin:0;
  border-bottom: 1px solid #000;
  font-weight: bold;
  font-size: 4em;
}

.main-footer__social-media {
  padding: 2em 0 4em 0;
}

.main-footer__social-media img {
  width: 60px;
  margin-right: 1rem;
}

.main-footer__bottom {
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 3em;
}

.main-footer__bottom img {
  width:15%;
  height: auto;
}



/*---------------------------------------- TEST -------------------------------------*/

/* .box-container1 img {
  width:100%
}
.box-container1 video {
  width:100%
} */
.hp-grid img,
.hp-grid video {
  width:100%;
}

.v-for{
  width:min-content
}