@import url("https://use.typekit.net/cmv5yao.css");

*{
    font-family: forma-djr-display;
    margin: 0;
}

.bloc{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.bloc video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top:50%;
    left:50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}
.navBar{
    margin: 3%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    width: 100%;
    color: white;
    text-decoration: none;
}
img{
    width: 27%;
}
ul{   
    width: 55%;
    font-size: 1.03rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style: none;
}
li a{
    width: 80%;
}

body{
    width: 100%;
    background-color: black;
}
.hp-container{
    margin: 2%;
    color: white;
    text-align: center;
}
.hp-head{
    width: 15.5%;
    margin: auto;
}
.hp-head p{
    color: lightgray;
    font-size: 1.5rem;
}
.hp-navbar {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-hp{
    width: 20%;
    margin: auto;
}
.hp-grid{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img1{
    margin: 1%;
    width: 30%;
}
.video1{
    margin: 1%;
    width: 53.5%;
}
.img2{
    margin: 1%;
    width: 46.5%;
    height: 50%;
}
.img3{
    margin: 1%;
    width: 37.2%;
    height: 50%;
}
.btn-voirplus{
    width: 91%;
    text-align: right;
}
.voirplus{
    font-size: 1.3rem;
    background-color: black;
    color:lightgray;
    border: none;
    border-bottom:2px solid lightgray;
}
